<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>
      <div >
        <h1><%=message %></h1>
        <h2><%=error.status %></h2>
        <pre> <%=error.stack %> </pre>
      </div>
  </body>
</html>